.DS_Store
.vscode
project/build
project/cmake-build-debug
build

project/dependencies/openocd-esp32/out/*
project/dependencies/openocd-esp32/jimtcl/*
project/dependencies/openocd-esp32/src
project/dependencies/openocd-esp32/tcl
project/dependencies/openocd-esp32/install.sh
project/dependencies/openocd-esp32/mdate-sh
project/dependencies/openocd-esp32/missing
project/dependencies/openocd-esp32/depcomp
project/dependencies/openocd-esp32/config.sub
project/dependencies/openocd-esp32/config.guess
project/dependencies/openocd-esp32/compile
project/dependencies/openocd-esp32/texinfo.tex
project/dependencies/openocd-esp32/src/
project/dependencies/openocd-esp32/*.sh
